<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-6">
            <p class="text-center">@Model.Session.AMStamp</p>
            <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
        </div>
        <div class="col-6">
            <div>
                <p class="text-center">@Model.Session.DMStamp</p>
                <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
            </div>
        </div>
    </div>
</div>