@using Pension.Entities.Helpers

@{
    ViewData["Title"] = "HBL Arrears";
    ViewData["SubTitle"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">Arrears</div>
        <div class="row">
            <a asp-action="Create">Create</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="ArrearsDemandId" class="control-label">Demand</label>
                <select class="form-control" id="ArrearsDemandId" asp-items="ViewBag.ArrearsDemandId"></select>
            </div>
            <div class="col-md-4">
                <label for="BankId">Bank</label>
                <select class="form-control" id="BankId" asp-items="ViewBag.BankId"></select>
            </div>
            <div class="col-md-4">
                <label for="ChequeId" class="control-label">Cheque</label>
                <select class="form-control" id="ChequeId" asp-items="ViewBag.ChequeId"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <button type="button" class="btn btn-flat btn-primary btn-block" id="payNowBtn">
                    <i class="fa fa-cash"></i> Pay Now
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body" id="content"></div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#payNowBtn').on('click', function () {
                const arrearDemandId = $('#ArrearsDemandId').val();
                const bankId = $('#BankId').val();
                const chequeId = $('#ChequeId').val();
                if (arrearDemandId && bankId && chequeId) {
                    ajaxAction('@Url.Action("PayArrearDemand")', 'POST', {
                        ArrearDemandId: arrearDemandId,
                        BankId: bankId,
                        ChequeId: chequeId
                    }, function () {
                        getCheque();
                    });
                } else {
                    alert("Arrear, Bank, Cheque & Month are required fields.");
                }
            });

            $('#ChequeId').on('change', getCheque);
            $('#ArrearsDemandId').on('click', getDemandList);

            function ajaxAction(url, type, data, onSuccess) {
                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    dataType: "text",
                    success: function (msg) {
                        if (onSuccess) onSuccess(msg);
                        else $('#content').html(msg);
                    },
                    error: function (req, status, error) {
                        $('#content').html(error);
                    }
                });
            }

            function getCheque() {
                const chequeId = $('#ChequeId').val();
                if (chequeId) {
                    ajaxAction('@Url.Action("GetCheque")', 'GET', { chequeId: chequeId });
                }
            }

            function getDemandList() {
                const demandId = $('#ArrearsDemandId').val();
                if (demandId) {
                    ajaxAction('@Url.Action("GetDemandList", "ArrearsPayments")', 'GET', { demandId: demandId });
                }
            }
        });
    </script>
}