@model PensionSystem.Entities.Models.Pensioner
<div class="card">
    <div class="card-body" id="content">
        <style>
            #a4 {
                position: page;
                top: 0;
                left: 0;
                width: 210mm;
                height: 297mm;
                padding: 20mm;
                box-sizing: border-box;
            }
        </style>
        <div id="non-marriage-certificate" style="background-image: url('~/conversion/non-marriage-certificate.jpg')" class="a4">
            <h4>@Model.Claimant</h4>
        </div>
    </div>
</div>

