@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="card">
        <h2 class="text-center">Welcome To PESCO Pension System </h2>
        <h3 class="text-center">Feature Rich Application for Pension Handling</h3>
    </div>
</div>
