@model PensionSystem.ViewModels.UserPDUVM
@{
    Layout = null;
}
<form id="CreateUpdate">
    <div class="row ">
        <div class="col-md-12 text-danger text-bold" id="ErrorDiv">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="UserId"></label>
                <select asp-for=UserId asp-items="ViewBag.UserId" class="form-control"></select>
                <span asp-validation-for="UserId"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="PDUId"></label>
                <select asp-for=PDUId asp-items="ViewBag.PDUId" class="form-control"></select>
                <span asp-validation-for="PDUId"></span>
            </div>
        </div>
    </div>
</form>
