@model PensionSystem.Entities.Models.Commutation

@{
	ViewData["Title"] = "Add Commutation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="card">
		<div class="card-header">
			Commutation Payment Information
		</div>
		<div class="card-body">
			<form asp-action="Create">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label asp-for="ChequeId" class="control-label"></label>
							<select asp-for="ChequeId" class="form-control" asp-items="ViewBag.ChequeId"></select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label asp-for="PensionerId" class="control-label"></label>
							<select asp-for="PensionerId" class="form-control" asp-items="ViewBag.PensionerId"></select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label asp-for="Month" class="control-label"></label>
							<input asp-for="Month" type="month" value="@DateTime.Now.ToString("yyyy-MM")" class="form-control"  />
							<span asp-validation-for="Month" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label asp-for="Amount" class="control-label"></label>
							<input asp-for="Amount" class="form-control" />
							<span asp-validation-for="Amount" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<button type="submit" value="Create" class="btn btn-primary" ><i class="fa fa-save"></i> Save</button>
						</div>
					</div>
				</div>

			</form>
		</div>
		<div class="card-footer">
			<a asp-action="Index">Back to List</a>
		</div>

	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
